.DisplayUser{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    align-content: center;

}
#SearchBar{
    width: 75%;
}

.search{
    padding: 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input[type="search"]{
   width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px 0px 0px 40px;
    box-sizing: border-box;
}
.search abbr button{
       
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 8px 10px 8px 10px;
    border-radius: 0px 40px 40px 0px;
    border: none;
    margin: 0px;
}
.search abbr button:hover{
   
    border-radius: 0px 40px 40px 0px;
    opacity: 0.7;
    outline: none;
}
.search > input:nth-child(2) {
    border: 1px solid black;
   }

#search_field {
    outline: none;
  }

  #addStudent {
    vertical-align: unset;
    display: flex;
    align-items: center;
  }
  #user{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
  }
  #user > button:nth-child(1) {
    padding: 0.8rem 1rem;
    background: black;
    color: #fff;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1rem;

  }
  #user > button:nth-child(1):hover{
      opacity: 0.8;
  }

