@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Poppins;
}
body{
    margin: 0 auto;
    padding: 0%;
   background-color: #caf0f8;
}
#Title{
    font-size: 40px;
    font-weight: 500;
    border-bottom: 5px solid #000;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
}
.Login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: rgb(26, 26, 26);
}
.Login-box h1{
    float: left;
    font-size: 28px;
    font-weight: 500;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid #000 ;
    display: flex;
    align-items: center;
} 
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border:none; 
    outline: none;
    background: none;
    color: rgba(19, 18, 18, 0.945);
    font-size: 20px;
    width: fit-content;
    float: left;
    margin: 0 10px;
}
/* input:focus { 
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
} */
.btn{
    width: 100%;
    background: none;
    border: 2px solid #000 ;
    color: rgb(29, 29, 29);
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px 0;
}

#NewUser, #SignUp{
    font-size: 14px;
}
button:hover, a:hover {
    opacity: 0.7;
  }
.but{
    width:100%;
    background-color: black;
    color:white
}

.linkk{
    display:flex;
    flex-direction:row;
}
.linkk li{
    list-style-type:none;
}